*{
    padding:0 ;
    margin: 0; 
}
body{
    background-image: linear-gradient(rgb(205, 21, 147),#160512);
    height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
a{
    text-decoration: none;
    color: white;   
}
header{
    width: 95%;
    position: fixed;
    z-index: 100;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
 header .logo{
    font-size: 30px;
    text-transform: uppercase;
 }
 header .fas{
   padding: 0 30px;
   font-size: 25px;
   display: none;
   cursor: pointer;
 }
  ul li{
display: inline-block;
padding: 8px;
margin: 10px; 
   
 }
  header ul li a:hover{
    padding: 10px;
    color:black ;
    background-color: white;
    border-radius: 5px;
 }
 @media screen and (max-width: 767px) {
       header .fas{
   display: block;
 } 
 header ul{
   display: none;
 }
 }

 .main{
    position: relative;
    height: 100vh; 
    width: 100%;
   overflow: hidden;
 }  
 .main img{
    position: absolute; 
    width: 100%;
    height: 100vh;
 }
 #moon{
    /* عشان يعمل ظل للقمر */
    mix-blend-mode: screen;
    object-fit: cover;
    
 }
 .content{
   color: #fff;
   padding: 30px;
 }
 .content h1{
      margin: 20px;
   font-size: 30px;
 }
 .content p{
   font-size: 20px;
    margin: 20px;
}
@media screen and (max-width: 767px){
   .content p{
   margin: 60px 0;   
}
}


               